@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

body {
  background: #dbdbdb;
  padding: 1%;
}
.nav {
  text-align: center;
  background-color: white;
  margin: 5px;
  padding: 5px;
}

a {
  padding: 50px;
  font-weight: bold;
  color: grey;
  text-decoration: none;
}
a:active {
  color: grey !important;
}
a:hover {
  color: rgb(39, 115, 177);
}

img {
  height: 15px;
  width: 15px;
  object-fit: contain;
  box-sizing: border-box;
  align-self: flex-end;
}

.container {
  max-width: 100%;
  height: 1000px;
  background-color: rgb(229, 243, 244);
  margin: 10px 50px;
  padding-right: 100px;
  padding-top: 20px;
  padding-left: 100px;
  padding-bottom: 20px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  width: auto;
  margin-bottom: 2%;
}
.page-header h2 {
  margin: 0;
}

.page-header .item {
  align-items: flex-start;
  flex-flow: column wrap;
}

footer {
  align-items: flex-end;
}
p {
  text-align: center;
}

.header-button {
  align-self: flex-end;
  background-color: rgb(118, 142, 247);
  color: white;
  height: 30px;
  width: 150px;
  border-radius: 5px;
}
.card-list {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  gap: 30px;
}

.card {
  height: 130px;
  width: 31%;
  padding-bottom: 40px;
  text-align: center;
  background-color: white;
}

.card .button-delete {
  float: right;
  margin: 3%;
}
.card hr {
  margin-top: 10%;
  margin-left: 0;
  margin-right: 0;
  border: 1px solid lightgrey;
}

.enter-form {
  width: 30em;
  margin: auto;
}
.form-row {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  text-align: center;
  padding: 0.5em;
}
.form-row label {
  flex: 1;
  text-align: start;
  font-size: 1.3em;
}
.form-row input,
.form-row textarea {
  flex: 2;
  vertical-align: middle;
  font-size: 1.3em;
  padding: 0.3em;
}

.form-row button {
  padding: 0.3em;
  border-radius: 0.3em;
  margin-left: 2em;
}

.form-row button[type=submit] {
  background-color: #667DEA;
  border-color: #667DEA;
  color: white;
}
